body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(31, 6, 24);
    color: white;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}